@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: hsl(257, 40%, 49%);
  --secondary-color: hsl(300, 69%, 71%);
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 64px;
  margin: auto;
  background: url(./images/bg-desktop.svg) no-repeat center center/cover;
  background-color: var(--primary-color);
  height: 100vh;
  max-width: 1440px;
  color: #fff;
}

h1,
h2 {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
}

header {
  margin-bottom: 64px;
}

header img {
  width: 200px;
  padding: 0;
}

.main-container {
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

.register {
  margin: 0 16px;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.register h1 {
  padding: 1.5rem 0;
}

.register p {
  padding-bottom: 1rem;
  color: #fff;
  line-height: 1.5;
  font-size: 1.2rem;
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 16px 56px;
  margin: 8px 0;
  background: #fff;
  color: var(--primary-color);
  border: none;
  border-radius: 32px;
  text-decoration: none;
  font-size: 1.2rem;
}

.btn:hover {
  background: var(--secondary-color);
  color: #fff;
}

footer ul {
  list-style: none;
  float: right;
  display: flex;
}

footer ul li {
  padding: 8px;
  margin: 8px;
  border: 1px solid #fff;
  border-radius: 50%;
  background: var(--primary-color);
  text-align: center;
  width: 42px;
  height: 42px;
}

footer ul li a {
  color: #fff;
}

footer ul li a:hover {
  cursor: pointer;
  color: var(--secondary-color);
}

footer {
  display: flex;
  justify-content: space-between;
}

footer .attribution {
  align-self: flex-end;
  margin: 0 16px;
  color: #fff;
}

footer .attribution a {
  color: var(--secondary-color);
  text-decoration: none;
}
