@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: hsl(257, 40%, 49%);
  --secondary-color: hsl(300, 69%, 71%);
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 64px;
  margin: auto;
  background: url(./images/bg-desktop.svg) no-repeat center center/cover;
  background-color: var(--primary-color);
  height: 100vh;
  max-width: 1440px;
  color: #fff;
}

h1,
h2 {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
}

header {
  margin-bottom: 64px;
}

header img {
  width: 200px;
  padding: 0;
}

.main-container {
  display: flex;
  padding: 0px;
  max-width: 100%;
}

.image-container {
  /* border: 5px solid yellow; */
  /* overflow: hidden; */
  /* width: 60%; */
}

.main-container img {
  object-fit: contain;
  max-width: 50%;
}

.register {
  margin: 0 16px;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 50%;
}

.register h1 {
  padding: 1.5rem 0;
}

.register p {
  padding-bottom: 1rem;
  color: #fff;
  line-height: 1.5;
  font-size: 1.2rem;
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 16px 56px;
  margin: 8px 0;
  background: #fff;
  color: var(--primary-color);
  border: none;
  border-radius: 32px;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  background: var(--secondary-color);
  color: #fff;
}

footer ul {
  list-style: none;
  float: right;
  display: flex;
}

footer ul li {
  padding: 8px;
  margin: 8px;
  border: 1px solid #fff;
  border-radius: 50%;
  background: var(--primary-color);
  text-align: center;
  width: 42px;
  height: 42px;
}

footer ul li a {
  color: #fff;
}

footer ul li a:hover {
  cursor: pointer;
  color: var(--secondary-color);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .attribution {
  align-self: flex-end;
  margin: 16px;
  color: #fff;
}

footer .attribution a {
  color: var(--secondary-color);
  text-decoration: none;
}

/* Mobile */
@media (max-width: 700px) {
  .main-container {
    flex-direction: column;
    align-items: center;
    /* border: 1px solid yellow; */
    padding: 0;
    margin: 0 0 2rem;
    text-align: center;
  }

  .main-container img {
    /* object-fit: cover; */
    margin-top: 1rem;
    max-width: 100%;
  }

  .main-container .register {
    /* align-items: center; */
    padding: 1rem 0 0 0;
    max-width: 100%;
  }

  .main-container .register h1 {
    font-size: 1.75rem;
  }

  .main-container .register p {
    font-size: 1.3rem;
    line-height: 1.7;
  }

  .btn {
    width: 80%;
    align-self: center;
    margin-top: 2rem;
  }

  header img {
    width: 150px;
  }

  footer .attribution {
    align-self: center;
  }
}
